.content {
  width: 100%;
  background-color: #e7e7e7;
  padding: 0 20px 40px 20px;
}
.initialH {
  font-weight: 300;
}

.countChart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  text-align: center;
  gap: 10px;
  width: 170px;
  height: 90px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.countChart h2 {
  font-size: 14px;
  font-weight: 500;
}

.countChart p {
  color: #1c7dad;
  font-size: 20px;
  font-weight: 900;
}

.circularChart {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.circularChart h2 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
.barChart {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.barChart h2 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.funnelChart {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.funnelChart h2 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.gridFive {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  justify-items: center;
  margin-top: 20px;
}

.gridThree {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-areas: "a b c";
  gap: 10px;
  width: 100%;
}
.column-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.table {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  width: 100%;
  padding: 20px;
}

.table h2 {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 1080px) {
  .grid {
    display: grid;
    grid-template-areas: "a b";
    gap: 10px;
    width: 100%;
  }
  .column-row {
    display: flex;
    flex-direction: column;
  }
  .Last {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 20px;
  }
  .gridThree {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .grid {
    display: flex;
    flex-direction: column-reverse;
  }
  .column-row {
    display: flex;
    flex-direction: column;
  }
  .gridFive {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .gridThree {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    display: flex;
    flex-direction: column-reverse;
  }
  .column-row {
    display: flex;
    flex-direction: column;
  }
  .gridFive {
    grid-template-columns: repeat(2, 1fr);
  }
  .gridThree {
    grid-template-columns: repeat(1, 1fr);
  }
}

.gridFour {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  margin-top: 20px;
}

@media (max-width: 1080px) {
  .gridFour {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .gridFour {
    grid-template-columns: repeat(2, 1fr);
  }
}
